POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
POSTGRES_DB=cwclock
POSTGRES_USER=cwclock
POSTGRES_PASSWORD=cwclock
POSTGRES_POOL_SIZE=5
JWT_SECRET=changeme
MAX_WORKERS=5
API_URL=http://localhost:8080
