POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
POSTGRES_DB=cwclock
POSTGRES_USER=cwclock
POSTGRES_PASSWORD=cwclock
POSTGRES_POOL_SIZE=5
JWT_SECRET=changeme
MAX_WORKERS=5
API_URL=http://localhost:8080
CWCLOCK_CORS_ENABLED=true
CWCLOCK_OTEL_ENDPOINT=
CWCLOCK_OTEL_PROTO=otlp/grpc
CWCLOCK_MAX_IMAGE_SIZE=2097152
CWCLOCK_MAX_REPORT_SIZE=5000
CWCLOCK_UI_URL=http://localhost:3000
CWCLOCK_OIDC_GOOGLE_CLIENT_ID=
CWCLOCK_OIDC_GOOGLE_CLIENT_SECRET=
CWCLOCK_OIDC_GITHUB_CLIENT_ID=
CWCLOCK_OIDC_GITHUB_CLIENT_SECRET=
CWCLOCK_OIDC_KEYCLOAK_BASE_URL=
CWCLOCK_OIDC_KEYCLOAK_CLIENT_ID=
CWCLOCK_OIDC_KEYCLOAK_CLIENT_SECRET=
CWCLOCK_OIDC_KEYCLOAK_GROUPS=
CWCLOCK_MAIL_FROM=noreply@cwcloud.tech
CWCLOCK_CONFIRMATION_EMAIL_EXPIRATION=24
CWCLOUD_CONTACT_FORM_ID=
